.fade-in {
    opacity: 1;
    display: flex;
    transition: opacity .3s;
    transition-delay: .3s;
}

.fade-in .integration-wrapper-2 {
    margin-top: 0;
}

.fade-out {
    opacity: 0;
    display: flex;
    height: 0;
    transition: opacity .3s;
}

.fade-out .integration-wrapper-2 {
    margin-top: 0;
}

.my-mask {
    mask-type: alpha;
}

.my-animation {
    transition: all .3s;
}

.my-animation2 {
    transition: all 1.5s;
}

.categories_list.list-1 {
    will-change: transform;
    transform: translate3d(-90%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.categories_list.list-2 {
    will-change: transform;
    transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.my-text {
    -webkit-user-select: text;
}

.my-wg-button {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}